# Ignore everything
*
!*/

# Do not ignore the .gitignore file itself
!.gitignore

# Include all files inside the above directories
!app/config/**
!config/**
!themes/**
!override/**
!modules/**
!mails/**